
.menu-page-wrapper{
    background-color: #000000;
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
   


}

//$small: 600px;
// $medium: 950px;
// $large: 1200px;
// $x-large: 1350px;
// $xx-large: 1525px;

// @media (max-width: $x-large) {}
// @media (max-width: $large) {}
// @media (max-width: $medium) {}
// @media (max-width: $small) {}
